bio
numpy
Pillow
scipy
cffi
ipython
pip
lxml
tornado
pyzmq
pexpect
attrs
pymongo
parso
jedi
pytz
tqdm
requests
ipywidgets
notebook
Jinja2
Werkzeug==0.16.1
itsdangerous
click
setuptools
six
pandas
matplotlib
webencodings
packaging
bleach
MarkupSafe
python-dateutil
SQLAlchemy
certifi
chardet
Pygments
ipykernel
traitlets
testpath
decorator
backcall
pickleshare
wcwidth
ptyprocess
greenlet
nbformat
nbclient
nbconvert
jsonschema
Send2Trash
terminado
idna
urllib3
aniso8601
logomaker
defusedxml
pandocfilters
mistune
entrypoints
pyparsing
pycparser
Flask
Flask-Cors
Flask-Executor
flask-restplus
Flask-SQLAlchemy
cycler
kiwisolver
pyrsistent
statsmodels
ujson